extends layout

block content
  .container
    h1 Bitcoin Supply Losses
    table.table.table-striped
      thead
        tr
          th
          th.text-center Block
          th.text-center Irrecoverably Lost
          th.text-center Date
      tbody
        each block, index in losses
          tr
            th ##{index+1}
            td.text-center
              a(href='/block/'+block.block_number) #{block.block_number}
            td.text-center #{helpers.format((block.allowed_supply - block.new_supply) / 100000000, 8)} BTC
            td.text-center #{moment(block.block_timestamp).format('YYYY-MM-DD HH:mm:ss')} (#{moment(block.block_timestamp).from()})
