extends layout

block content
  .container
    h1 Bitcoin Supply Losses
    nav(aria-label='Page navigation')
      ul.pagination.justify-content-center
        if page == 0
          li.page-item.disabled
            a.page-link(href='/losses/0', tabindex=-1) &lt;&lt;
        else
          li.page-item
            a.page-link(href='/losses/'+(page-1), tabindex=-1) &lt;&lt;
        - let p = 0
        - let etc = false
        while p < total/paginationSize
          if p == page
            li.page-item.disabled
              a.page-link(href='/losses/'+p) #{p+1}
          else if p < 2 || p > Math.floor(total/paginationSize)-2 || p >= page-3 && p <= Number(page)+3
            - etc = false
            li.page-item
              a.page-link(href='/losses/'+p) #{p+1}
          else if !etc
            - etc = true
            li.page-item.disabled
              a.page-link(href='/losses/'+p) ...
          - p++
        if page == Math.floor(total/paginationSize)
          li.page-item.disabled
            a.page-link(href='/losses/0', tabindex=-1) &gt;&gt;
        else
          li.page-item
            a.page-link(href='/losses/'+(Number(page)+1), tabindex=-1) &gt;&gt;

    table.table.table-striped
      thead
        tr
          th
          th.text-center Block
          th.text-center Irrecoverably Lost
          th.text-center Date
      tbody
        each block, index in losses
          - var lostBTC = (block.allowed_supply - block.new_supply) / 100000000
          - var redIntensity = 0
          - if (lostBTC > 0) {
          -   var minAmount = 0.0000001
          -   var maxAmount = 1.0  // 1 BTC gets maximum red
          -   var clampedValue = Math.max(minAmount, Math.min(maxAmount, lostBTC))
          -   var logRatio = Math.log10(clampedValue / minAmount) / Math.log10(maxAmount / minAmount)
          -   redIntensity = 0.1 + (logRatio * 0.8)
          -   if (lostBTC > 1.0) {
          -     redIntensity = 0.9
          -   }
          - }
          - var bgColor = redIntensity > 0 ? `rgba(220, 53, 69, ${redIntensity})` : 'transparent'
          tr(style=`background-color: ${bgColor};`)
            th ##{helpers.format(page*paginationSize+index+1)}
            td.text-center
              a(href='/block/'+block.block_number)= helpers.format(block.block_number)
            td.text-center #{helpers.format(lostBTC, 8)} BTC
            td.text-center #{moment(block.block_timestamp).format('YYYY-MM-DD HH:mm:ss')}

    nav(aria-label='Page navigation')
      ul.pagination.justify-content-center
        if page == 0
          li.page-item.disabled
            a.page-link(href='/losses/0', tabindex=-1) &lt;&lt;
        else
          li.page-item
            a.page-link(href='/losses/'+(page-1), tabindex=-1) &lt;&lt;
        - p = 0
        - etc = false
        while p < total/paginationSize
          if p == page
            li.page-item.disabled
              a.page-link(href='/losses/'+p) #{p+1}
          else if p < 2 || p > Math.floor(total/paginationSize)-2 || p >= page-3 && p <= Number(page)+3
            - etc = false
            li.page-item
              a.page-link(href='/losses/'+p) #{p+1}
          else if !etc
            - etc = true
            li.page-item.disabled
              a.page-link(href='/losses/'+p) ...
          - p++
        if page == Math.floor(total/paginationSize)
          li.page-item.disabled
            a.page-link(href='/losses/0', tabindex=-1) &gt;&gt;
        else
          li.page-item
            a.page-link(href='/losses/'+(Number(page)+1), tabindex=-1) &gt;&gt;
